@define-color rosewater   #F5E0DC;
@define-color flamingo    #F2CDCD;
@define-color mauve       #DDB6F2;
@define-color pink        #F5C2E7;
@define-color maroon      #E8A2AF;
@define-color red         #F28FAD;
@define-color peach       #F8BD96;
@define-color yellow      #FAE3B0;
@define-color green       #ABE9B3;
@define-color teal        #B5E8E0;
@define-color blue        #96CDFB;
@define-color sky         #89DCEB;
@define-color lavender    #C9CBFF;

@define-color black0      #161320;
@define-color black1      #1A1826;
@define-color black2      #1E1E2E;
@define-color black3      #302D41;
@define-color black4      #575268;
@define-color gray0       #6E6C7E;
@define-color gray1       #988BA2;
@define-color gray2       #C3BAC6;
@define-color white       #D9E0EE;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", "Hasklug Nerd Font", "Font Awesome 5",
    "SFNS Display", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @white;
}

window#waybar.hidden {
  opacity: 0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0px 0px;
  background: @black3;
  color: @white;
}

#workspaces button.focused {
  background: @white;
  color: @black0;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  color: @black0;
}

#mode {
  background: #647277;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-playerctl,
#tray,
#mode,
#idle_inhibitor,
#window,
#custom-updates,
#custom-layout,
#custom-waybar-mpris,
#custom-osk,
#taskbar {
  background: @black3;
  /* color: #D6D6B1; */
  padding: 5px 15px;
}

window#waybar.empty #window {
  padding: 0;
}

#taskbar {
  padding: 0px;
}
#taskbar button.active {
  background: @white;
}

#clock {
  padding: 0px 15px;
  color: @black0;
  background-color: @yellow;
}

#battery {
  color: @blue;
}

#battery.charging {
  color: @black0;
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
@keyframes blink2 {
  to {
    color: @black0;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  /* background: ; */
  color: @green;
}

#memory {
  /* background: #9b59b6; */
  color: @peach;
}

/* #backlight { */
/*   background: #90b1b1; */
/* } */

#network {
  color: @lavender;
  /* background: #2980b9; */
  padding-right: 3px;
}

#bluetooth {
  color: @blue;
  padding-left: 3px;
}

#bluetooth.discoverable,
#bluetooth.discovering {
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  /* background: #f1c40f; */
  color: @yellow;
}

#pulseaudio.muted {
  background: @black4;
  color: @gray2;
}

#custom-playerctl {
  /*   background: #ea5455; */
  color: @sky;
}

#custom-layout {
  /*   background: #ee1186; */
  color: @lavender;
}

#custom-updates {
  background: @red;
  color: @black0;
}

/* #custom-media {
background: #66cc99;
color: #2a5c45;
}
 */

/* .custom-vlc { */
/*   background: #ffa000; */
/* } */

/* #temperature { */
/*   background: #f0932b; */
/* } */

/* #temperature.critical { */
/*   background: #eb4d4b; */
/* } */

#tray {
  /* background-color: #2980b9; */
  /* color: @fg-col; */
}

#idle_inhibitor {
  /*   background-color: #2d3436; */
  color: @pink;
}

#idle_inhibitor.activated {
  background-color: @white;
  color: @black0;
}

#custom-waybar-mpris.playing {
  background-color: @flamingo;
  color: @black3;
}

#custom-waybar-mpris.paused {
  color: @flamingo;
}
