@define-color bg-color rgba(35,31,32,0.95);
@define-color color-highlight #40b866;
@define-color color-text rgba(217, 216, 216, 1);

window {
  padding: 0;
  margin: 0px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font: 16pt Hasklug Nerd Font;
  font-weight: 500;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: @color-text;
  background-color: transparent;
}

#inner-box {
  /* margin: 5px 10px; */
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 0px;
  border: none;
  background-color: @bg-color;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @color-text;
}

#text:selected {
  color: @color-highlight;
}

#entry {
  padding: 5px 15px;
  border-radius: 0;
  border-top: 0.5px solid #444;
}
#entry:selected {
  background-color: rgba(150, 150, 150, 0.2);
  color: transparent;
}

#img {
  margin-right: 7px;
}
